{% extends 'base.html' %}

{% block conteudo %}

<div class="container-fluid">

    <!-- Título -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h2 class="fw-bold underline_azul mb-1">
                Gestão de Galpões
            </h2>
            <small class="text-muted">
                Monitoramento logístico em tempo real
            </small>
        </div>

        <button class="btn btn-primary-custom">
            <span class="material-symbols-outlined align-middle me-1">
                add
            </span>
            Novo Galpão
        </button>
    </div>

    <!-- Cards -->
    <div class="row g-4 mb-4">


        </div>

    </div>

    <!-- Tabela -->
    <div class="table-container">

        <div class="d-flex justify-content-between align-items-center p-4 border-bottom"
             style="border-color: var(--border-color)!important;">

            <h5 class="mb-0 underline_azul fw-bold">
                Controle Operacional
            </h5>

            <button class="btn btn-primary-custom">
                Adicionar Unidade
            </button>

        </div>

        <div class="table-responsive">

            <table class="table mb-0">

                <thead>
                <tr>
                    <th>NOME</th>
                    <th>LOCALIZAÇÃO</th>
                    <th>CAPACIDADE</th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td class="tracking-id">WH-SAO-001</td>
                    <td>São Paulo - SP</td>

                    <td style="width:220px">
                        <div class="d-flex align-items-center gap-2">
                            <div class="progress flex-grow-1"
                                 style="height:6px;background:#033C3E;">
                                <div class="progress-bar bg-info"
                                     style="width:94%">
                                </div>
                            </div>
                            <small>94%</small>
                        </div>
                    </td>


            </table>

        </div>

    </div>

</div>

{% endblock %}